.page-container {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activities-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.personal-info {
    background-color: bisque;
}
.personal-info h4 {
    font-size: 20px;
    margin-bottom: 5px;
}
.personal-info p {
    padding: 0px;
    margin: 0px;
}
.break-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 0 5px;
}
.break-container p{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px 0;
    cursor: pointer;
}
.exercise-details {
    text-align: left;
    margin-left: 8%;
}
.exercise-time {
    padding: 10px 5px;
    background-color: aliceblue;
    border-radius: 8px;
    margin-bottom: 20px;
}
.break-time {
    padding: 10px 5px;
    background-color: aliceblue;
    border-radius: 8px;
}
.btn-activity {
    width: 90%;
    background-color: darkturquoise;
    padding: 15px 0;
    margin-top: 8%;
    border: 0px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 540px){
    .page-container{
    grid-template-columns: 1fr;
    }
    .activities-container {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) and (max-width: 1100px){
    .activities-container {
        grid-template-columns: repeat(2, 1fr);
    }
}