.page-container {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activities-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 25px 50px;
}
.personal-info {
    background-color: bisque;
}
.menu {
    display: flex;
    padding-top: 5%;
    padding-left: 5%;
}
.menu img{
    width: 70px;
    height: 70px;
    margin-right: 1%;
}

@media (max-width: 540px){
    .page-container{
    grid-template-columns: 1fr;
    }
    .activities-container {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) and (max-width: 1100px){
    .activities-container {
        grid-template-columns: repeat(2, 1fr);
    }
}